<h2 class="page-title" style="margin-top: 30px">@ViewBag.Title</h2>

@model IEnumerable<Recipes.ViewModels.RecipeCommentViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var recipeComments = Model;
}

<section id="popular-recipes-graph">
    <h4>Most popular recipes</h4>
    <p>Show the most popular recipes according to the number of comments they got</p>
</section>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvarageScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFullName)
        </th>
    </tr>

    @{
        foreach (var recipe in recipeComments)
        {
            <tr>
                <td>
                    @recipe.Title
                </td>
                <td>
                    @recipe.AvarageScore
                </td>
                <td>
                    @recipe.NumberOfComment
                </td>
                <td>
                    @recipe.AuthorFullName
                </td>
            </tr>
        }
    }

</table>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="~/Scripts/graph.js"></script>
<script>
    $.ajax({
        url: '/Recipes/StatsJson',
        success: function (result) {
            var usersData = result;
            createPopularRecipesGraph(usersData);
        },
        error: function (hxr, status, err) {
            console.log('status: ' + status + ', error: ' + err);
        }
    });

</script>