@model Recipes.Models.Comment

@{
    ViewBag.Title = "Details";
    Recipes.Models.Client clnt = (Recipes.Models.Client)Session["Client"];
}

<div style="margin: 20px 0">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recipe) @Html.DisplayNameFor(model => model.Recipe.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<p>
    @if (clnt != null && (clnt.IsAdmin || clnt.Id == Model.ClientId))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }
    @Html.ActionLink("Back to List", "Index", "Recipes")
</p>
